<!DOCTYPE html>
<html>
<head>
  <title>Appnewsoap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!--jQuery Library-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!--parallax library-->
  <script src="/assets/parallax.min.js"></script>
  <!--normalize CSS across browsers-->
  <link rel="stylesheet" type="text/css" href="/assets/normalize/normalize.css">
  <!--enable media queries-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--font-->
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>

</head>
<body>
<div id="nav-links" class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="row clearfix">
    <div id="nav-links1" class="column third">
          <% if user_signed_in? %>
            <p id="nav_links_dash"><%= link_to "Dashboard", topics_dashboard_path %></p>
    </div>
    <div id="nav-links2" class="column third">
            <p id="nav_links_topics"><%= link_to "Topics", edit_user_registration_path %></p>
    </div>
    <div id="nav-links3" class="column third">
        <p id="nav_links_logout"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> | <strong><%= current_user.email.split('@').first %></strong></p>
    </div>
    <div class="column">
      <% else %>
          <p class="nav_links"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></p> |
          <p class="nav_links"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></p>
      <% end %>
    </div>
  </div>

<%= yield %>

</div>





</body>
</html>
