<body>
<div class="registration-container" data-0="background-color:rgb(243,243,243);" data-900="background-color:rgb(155,155,155);">
  <h2 class="edit-title">Edit</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div id="topic-fields" class="column half">
        <%= f.collection_check_boxes(:topic_ids, Topic.all, :id, :name) do |t| %>
            <%= t.label class:"label-checkbox" do%>
                <%= t.check_box + " " + t.text %><br />
            <% end %>
        <% end %>
      </div>
      <br />

      <div id="devise-fields" class="column half">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %><br />
      </div>
      <br />

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %><br /> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br />

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <br />

      <div class="field">
        <%= f.label :current_password %><br /> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
      <br />

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
      <br />
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%#= link_to "Back", :back %>
    </div>
</div>

<script type="text/javascript" src="skrollr.min.js"></script>
<script type="text/javascript">
    var s = skrollr.init();
</script>
</body>